<h1>更新</h1>
<%= form_with model: @user, local: true do |f| %>
  <div>
    <%= f.label :name, "お名前：" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :age, "年齢：" %>
    <%= f.text_field :age %>
  </div>
  <div>
    <%= f.submit "送信" %> <button><%= link_to "戻る", users_path %></button>
  </div>
<% end %>
